.nav_bar{
    display: flex;
    justify-content: space-between;
    height: 45px;
    position: fixed; 
    top: 0;
    width: 100%;
    
}

.logo{
    position:fixed;
    left:10px;
    width: 80px;
    margin-top: 10px;
    cursor: pointer;
}

.profile{
    position: fixed;
    right: 10px;
    height: 25px;
    width: 30px;
    margin-top: 10px;
    cursor: pointer;
}
